<h3>_LifeCycleChild</h3>

<hr />
@foreach (var item in EventTypes)
{
  @item
  <hr />
}

@code {
  List<string> EventTypes = new List<string>();
  
  [Parameter]
  public int CountValue { get; set; }

  protected override void OnInitialized()
  {
    EventTypes.Add("Child - OnInitialized is callded");
  }

  protected override void OnParametersSet()
  {
    EventTypes.Add("Child - OnParametersSet is callded");
  }

}