@page "/learnBlazor/parentComponent"

<h3>Parent Child Relation</h3>

<_ChildComponent Title="This title is passed as parameter from Parent Component">
  <ChildContent>Render Fragment from parent</ChildContent>
  <DangerChildContent>This is danger render fragment</DangerChildContent>
</_ChildComponent>

<p><b>@messageText</b></p>
<_AnotherChildComponent InputAttributes="InputAttributesFromParent"></_AnotherChildComponent>

@* <_ChildComponent Title="This is second child component"
                 OnButtonClick="ShowMessage">

</_ChildComponent> *@

@code {
  public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>
  {
    {"required", "required"},
    {"placeholder", "Initial Text"},
    {"maxlength", 10}
  };

  public string messageText = "";

  private void ShowMessage()
  {
    messageText = "Tangy button clicked from Child Component";
  }
}
